[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
	branch = develop
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11
	branch = main
[submodule "external/picosha2"]
	path = external/picosha2
	url = https://github.com/okdshin/PicoSHA2
	branch = master
[submodule "external/e2fsprogs"]
	path = external/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs
	branch = main
[submodule "external/gptfdisk"]
	path = external/gptfdisk
	url = https://android.googlesource.com/platform/external/gptfdisk
	branch = main
[submodule "external/core"]
	path = external/core
	url = https://android.googlesource.com/platform/system/core
	branch = main
[submodule "external/libbase"]
	path = external/libbase
	url = https://android.googlesource.com/platform/system/libbase
	branch = main
[submodule "external/extras"]
	path = external/extras
	url = https://android.googlesource.com/platform/system/extras
	branch = main
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://android.googlesource.com/platform/external/fmtlib
	branch = main
[submodule "external/boringssl"]
	path = external/boringssl
	url = https://android.googlesource.com/platform/external/boringssl
	branch = main
